@import 'variables';

#app > .edit-page{
    justify-content: flex-start;

    // multi elements
    h2, 
    label, 
    &,
    .todo-content {
        display:flex;
    }

    .ui-page-header {
        margin-bottom: 10vh;
    }

    > div {
        margin: 0 auto;
        width: 100%;

        h2 {
            justify-content: center;
            font-family: 'Press Start 2P', cursive;
            font-size: 2rem;
            color: red;
        }

        // this targets the ul holding a single todo
        .todoSingle {
            background-color: #ebebeb;
            background-color: none;
            margin: 2rem auto;
            text-align: center;
            box-shadow: none;
        
            // this targets the div holding all the content
            .todo-content {
                flex-wrap: wrap;
                margin: 0 auto;
                padding: 0.5rem;

                > label {
                    width: 50%;
                    flex-direction: column;
                    font-size: 1rem;
                    font-style: italic;
                    border-radius: 0.2rem;
                    margin-bottom: 1rem;
                    padding: 1rem 0.5rem;

                    &:nth-child(1){
                        width: 100%;
                    }

                    input, select {
                        width: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.288);
                        text-align: center;
                        font-size: 1.2rem;

                        &[type=checkbox] {
                            margin: auto;
                        }

                        &[type=text] {
                            width: 100%;
                            border-radius: 0.2rem;
                        }
                    }
                }
            }
        }

        // this targets the cancel and delete buttons
        > div {
            display: flex;
            justify-content: space-around;

            button {
                font-weight: bold;
                width: 8rem;
                background-color: white;
                border-radius: 0.5rem;
                padding: 0.7rem;

                &:hover{
                    cursor: pointer;
                }

                &.editButton {
                    border: 0.15rem solid rgb(138, 50, 50);
                    background-color: rgb(231, 81, 81);
                    color: white;

                    &:hover{
                        background-color: rgb(201, 55, 55);
                    }
                }

                &.cancelButton {
                    border: 0.15rem solid black;
                    background-color: white;

                    &:hover{
                        background-color: $base-orange;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    #app .edit-page .todoSingle {
        max-width: 900px;
    }
}