@import 'variables';

// this is the home page

#app .homepage {
    font-family: 'Press Start 2P', cursive;
    background-color: $base-orange;
    display: flex;
    justify-content: center;

    .ui-page-header {
        box-shadow: none;
        margin-bottom: 5rem;

        h1{
            font-size: 8vw;
            
        }
    }
    
    .enter-list-a {
        display: flex;
        justify-content: center;
        border: 5px solid rgb(206, 82, 0);
        color: $base-orange;
        border-radius: 1rem;
        margin: 0 auto;
        font-size: 2rem;
        width: 50%;
        background-color: white;
        padding: 1rem;
        text-align: center;

        &:hover {
            border: 5px solid black;
            color: black;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 1100px){
    #app .homepage .ui-page-header h1 {
        font-size: 4rem;
    }
}