@import 'variables';

// this is the todos page

.todo-page .logo {
    color: white;
    font-size: 3rem;
}

.ui-page-todo{
    margin: 0 auto;
    padding: 0 1rem;

    //this will alternate the todo-color
    .todoSingle:nth-child(4n+1) .todo-color{
        background-color: rgb(253, 174, 70);
    }
    .todoSingle:nth-child(4n+2) .todo-color{
        background-color: rgb(145, 223, 56);
    }
    .todoSingle:nth-child(4n+3) .todo-color{
        background-color: rgb(224, 92, 169);
    }
    .todoSingle:nth-child(4n+4) .todo-color{
        background-color: rgb(90, 82, 197);
    }

}

//side by side when width 1300px
@media only screen and (min-width: 1300px){
    .ui-page-todo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .todoSingle {
            width: 49%;
        }
    }
}