@import 'variables';

// this is the todos page

.ui-page-todo{
    margin: 0 auto;
    padding: 0 1rem;

    //this will alternate the todo-color
    .todoSingle:nth-child(6n+1) .todo-color{
        background-color: #FF5347;
    }
    .todoSingle:nth-child(6n+2) .todo-color{
        background-color: #FF9D4F;
    }
    .todoSingle:nth-child(6n+3) .todo-color{
        background-color: #F5F263;
    }
    .todoSingle:nth-child(6n+4) .todo-color{
        background-color: #81D152;
    }
    .todoSingle:nth-child(6n+5) .todo-color{
        background-color: #42ADC7;
    }
    .todoSingle:nth-child(6n+6) .todo-color{
        background-color: #5B4DB7;
    }

}

//side by side when width 1300px
@media only screen and (min-width: 1300px){
    .ui-page-todo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .todoSingle {
            width: 49%;
        }
    }
}